{% extends "base.html" %}
{% block content %}


<div class="container my-4">
<div class="row">
<div class="col-sm">

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <select>
                {% for each in dropdown_list %}
                  <option value="{{each}}">{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="https://cdn.sofifa.net/players/158/023/22_120.png" alt="Card image cap">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>

    <div class="col-sm text-center">

      <h1>VS</h1>
        <a href="#" class="btn btn-primary">Start Game</a>
    </div>


<div class="col-sm">

   <div class="card" style="width: 18rem;">
        <div class="card-header">
            <select>
                {% for each in dropdown_list %}
                  <option value="{{each}}">{{each}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="..." alt="Card image cap">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

</div>
</div>

{% endblock %}